body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.createfolder{
	background: none;
    padding: 15px;
    margin: 10px;
    color: #16325c;
    border: 1px solid #16325c;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}
.breadCrump-title{
  cursor:pointer;
  font-size: 14px;
  padding: 5px;
  text-decoration:underline;

}
.breadcrump-cnt{
  display: flex;
  margin: 10px;
}
.breadCrump-title.active{
  font-size: 14px;
  cursor: none;
  font-weight: bold;
  text-decoration:none;
  color: #16325c;
}
.folder-name-cnt{
  border-bottom: 1px solid grey;
  padding: 20px 10px;
  display: flex;
}
.folder-name{
    padding-left: 10px;
    vertical-align: middle;
    color: #16325c;
    padding-top: 9px;
}
.folder-input{
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid lightgrey;
}
.fa-folder{
  color: bisque;
}
.list-header{
  margin: 10px;
}